
<form class="form search-form" 
  #form="ngForm"
  role="form" 
  (submit)="submit(search.value)">

  <div class="search-logo">
    <img src="assets/images/logo.jpg" />
  </div>

  <div class="input-group input-group-lg">
    <input type="text" 
      ngModel 
      #search="ngModel" 
      class="form-control" 
      name="search" 
      placeholder="Search tweet..."
      required />
    <div class="input-group-append">
      <button [disabled]="!form.valid" class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
    <div class="invalid-feedback" [hidden]="search.valid || !search.touched" style="display: block">
      Please enter text to search.
    </div>
  </div>
</form>



